<!DOCTYPE html>
<html lang="de">
<head>
    <title>Nondes Mail</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

</head>

<body ng-app='MyApp' layout="row" ng-controller="PostsCtrl">

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
        <h1>Ordner</h1>
    </md-toolbar>

    <md-content flex>
        <md-list >
            <md-list-item ng-repeat="folder in folders">
                <md-button ng-click="selectFolder(folder)" ng-class="{'selected' : folder === selectedFolder }">
                    {{folder}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>

    <md-toolbar class="md-accent" layout="column">
        <div layout="row">
            <md-button class="md-fab md-primary" ng-disabled=folderOperations aria-label="Umbennenen" ng-click="showRename()">
                <md-icon md-svg-src="./assets/svg/rename.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-primary" ng-disabled=folderOperations aria-label="Löschen"ng-click="deleteFolder(selectedFolder)">
                <md-icon md-svg-src="./assets/svg/delete.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
        <h1>Nondes Mail</h1>
        <md-button ng-click="showNewMail()" ng-disabled=folderOperations aria-label="Mail erzeugen">
            <md-icon md-svg-src="./assets/svg/mail.svg"></md-icon>
        </md-button>
    </md-toolbar>

    <md-content flex style="min-height: 200px">
        <md-list>
            <md-subheader class="md-no-sticky" ng-show="mails" >{{mails.length}} E-Mail</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="mail in mails" ng-click="selectMail(mail)" ng-class="{'selected' : mail._id === selectedMail._id}" >
                <img ng-src="./assets/svg/mail.svg" class="md-avatar md-secondary" />
                <div class="md-list-item-text"  >
                    <h3>{{ mail.sender }}</h3>
                    <h4>{{ mail.subject }}</h4>
                    <p>{{ mail.date }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

    <md-toolbar ng-show="selectedMail" layout="row" class="md-secondary">
        <md-button ng-click="deleteMail(selectedMail)" ng-disabled=mailOperations aria-label="Mail löschen">
            <md-icon md-svg-src="./assets/svg/delete.svg"></md-icon>
        </md-button>
        <md-button ng-click="showMove()" ng-disabled=mailOperations aria-label="Mail verschieben">
            <md-icon md-svg-src="./assets/svg/move.svg"></md-icon>
        </md-button>
    </md-toolbar>


    <md-content ng-show="selectedMail" layout="column" style="padding: 150px">


        <h3>Von: {{ selectedMail.sender }}</h3>
        <h4>Betreff: {{ selectedMail.subject }}</h4>
        <p>Datum: {{ selectedMail.date }}</p>

        <md-divider></md-divider>
        <p>{{ selectedMail.text }}</p>
    </md-content>
</div>



<script type="text/javascript" src="test.js"></script>

</body>
</html>
